{% extends "base.html" %}

{% block content %}
<header class="border-b border-emerald-800 pb-4 mb-10">
    <h1 class="text-4xl font-bold text-white uppercase tracking-wider text-center">API</h1>
</header>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <h2 class="text-2xl font-semibold text-white mb-2 uppercase">Наш сайт предоставляет услуги api.</h2>
    <p class="text-emerald-300 text-base leading-relaxed max-w-3xl">
        Если вы желаете получать информацию о наших турнирах, новостях и других событиях, то наш
        сайт предоставляет услуги api. Мы открыты к сотрудничеству.
        Обращаться на почту: s3rmoon@yandex.ru
    </p>
</div>
{% endblock %}