{% extends "base.html" %}

{% block content %}
<header class="border-b border-emerald-800 pb-4 mb-10">
    <h1 class="text-4xl font-bold text-white uppercase tracking-wider text-center">Новости</h1>
</header>
<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">
                ТХЛ ЗАБРАЛ ТУРНИР ПО ДОТКЕ В РК
            </h5>
            <div class="text-sm font-medium text-emerald-300">
                10.02.2026
            </div>
        </div>
    </li>
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">ТХЛ ЗАБРАЛ ТУРНИР ПО
                ДОТКЕ В РК</h5>
            <div class="text-sm font-medium text-emerald-300">10.02.2026</div>
        </div>
    </li>
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">ТХЛ ЗАБРАЛ ТУРНИР ПО
                ДОТКЕ В РК</h5>
            <div class="text-sm font-medium text-emerald-300">10.02.2026</div>
        </div>
    </li>
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">ТХЛ ЗАБРАЛ ТУРНИР ПО
                ДОТКЕ В РК</h5>
            <div class="text-sm font-medium text-emerald-300">10.02.2026</div>
        </div>
    </li>
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">ТХЛ ЗАБРАЛ ТУРНИР ПО
                ДОТКЕ В РК</h5>
            <div class="text-sm font-medium text-emerald-300">10.02.2026</div>
        </div>
    </li>
    <li
        class="max-w-sm mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden transition-transform hover:scale-[1.02]">
        <div class="relative h-64 overflow-hidden flex justify-center items-center">
            <img class="absolute inset-0 w-full h-full object-cover"
                src="{{ url_for('static', filename='img/Counter-strike_2.jpg') }}" alt="Фон новости">
            <div class="absolute bottom-0 left-0 right-0 h-10 bg-emerald-900"
                style="clip-path: polygon(0 100%, 100% 100%, 100% 0);"></div>
        </div>
        <div class="p-6">
            <h5 class="mb-4 text-2xl font-bold tracking-tight text-white leading-tight uppercase">ТХЛ ЗАБРАЛ ТУРНИР ПО
                ДОТКЕ В РК</h5>
            <div class="text-sm font-medium text-emerald-300">10.02.2026</div>
        </div>
    </li>
</ul>
{% endblock %}

{% block footer %}
<div class="max-w-screen-xl mx-auto px-8 flex flex-col md:flex-row justify-between items-center gap-6">
    <div class="text-emerald-400 text-sm font-medium text-center md:text-left">
        © Федерация компьютерного спорта Республики Коми, 20??–2026
    </div>

    <div class="text-center">
        <a href="mailto:info@fcsrk.ru" class="text-emerald-100 hover:text-green-400 transition-colors font-medium">
            team@esfkomi.ru
        </a>
    </div>

</div>
{% endblock %}