{% extends "base.html" %}

{% block content %}
<body class="bg-green-950 min-h-screen">
    <div
        class="mx-auto bg-emerald-900 border border-emerald-800 rounded-lg shadow-xl overflow-hidden font-sans">
        <img src="{{ url_for('static', filename='img/csbanner.webp') }}" alt="opa" class="w-full h-auto max-h-[200px] object-cover" alt="Wide banner">
        <div class="p-6">
            <div
                class="flex flex-col md:flex-row md:items-center justify-between mb-8 border-b pb-6 border-emerald-800">
                <div class="flex items-start space-x-4">
                    <div class="p-2 bg-emerald-800 rounded-lg">
                        <svg class="w-10 h-10 text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" />
                        </svg>
                    </div>
                    <div>
                        <h1 class="text-2xl font-bold text-white">Регистрация на турнир "МК26. Dota 2. Турнир №1"
                        </h1>
                        <p class="text-green-400 font-semibold mt-1">17.04.2026</p>
                        <div class="flex items-center mt-4 space-x-3 text-sm">
                            <div
                                class="w-8 h-8 bg-green-600 rounded-full flex items-center justify-center text-white font-bold text-xs">
                                <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="opa" class="h-8" alt="Logo" />
                            </div>
                            <div>
                                <p class="text-green-400 text-xs font-bold uppercase">Организатор</p>
                                <p class="text-white font-medium">ФКС РК</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div>
                    <h2 class="text-xl font-bold uppercase tracking-tight text-white mb-6">Общая
                        информация</h2>
                    <dl class="space-y-4">
                        <div class="flex border-b border-emerald-800 pb-2">
                            <dt class="w-32 text-emerald-300">Статус:</dt>
                            <dd class="text-green-400 font-medium italic">открыт прием заявок</dd>
                        </div>
                        <div class="flex border-b border-emerald-800 pb-2">
                            <dt class="w-32 text-emerald-300">Формат:</dt>
                            <dd class="text-white">Single Elimination</dd>
                        </div>
                        <div class="flex border-b border-emerald-800 pb-2">
                            <dt class="w-32 text-emerald-300">Тип:</dt>
                            <dd class="text-white">Online</dd>
                        </div>
                    </dl>
                </div>

                <div>
                    <h2 class="text-xl font-bold uppercase tracking-tight text-white mb-6">
                        Регистрация и участие</h2>
                    <div class="bg-green-950/50 p-6 rounded-lg border border-emerald-800">
                        <dl class="space-y-4 mb-6 text-sm">
                            <div class="flex justify-between">
                                <dt class="text-emerald-300">Регистрация открыта :</dt>
                                <dd class="text-right font-medium text-white">до 17 апреля 17:55<br><span
                                        class="text-emerald-500 text-xs">(время московское)</span></dd>
                            </div>
                            <div class="flex justify-between">
                                <dt class="text-emerald-300">Число команд:</dt>
                                <dd class="font-medium text-white">10 из 64</dd>
                            </div>
                            <div class="flex justify-between">
                                <dt class="text-emerald-300">Формат участия :</dt>
                                <dd class="font-medium text-white">5x5</dd>
                            </div>
                        </dl>
                        <a href="/join_tournament">
                        <button type="button"
                            class="w-full text-white bg-green-600 hover:bg-green-500 focus:ring-4 
                            focus:outline-none focus:ring-green-800 font-bold rounded-sm text-sm px-5 py-3 text-center uppercase 
                            tracking-widest transition-colors">Участвовать</button>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="my-10 border-emerald-800">

            <div>
                <h2 class="text-xl font-bold uppercase tracking-tight text-white mb-8">Победители и
                    призы</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div class="flex items-center space-x-4">
                        <div class="text-green-500">
                            <div class="text-emerald-700">
                                <p class="text-6xl">🏆</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-green-400 font-bold flex items-center italic">
                                <span class="mr-2">1 место
                            </p>
                            <div class="flex items-center text-white font-semibold">
                                <svg class="w-4 h-4 mr-1 text-emerald-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                                </svg>
                                12 000 рублей
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4 opacity-90">
                        <div class="text-emerald-500">
                            <div class="text-emerald-700">
                                <p class="text-6xl">🥈</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-emerald-200 font-bold flex items-center italic">
                                <span class="mr-2 opacity-80">2 место
                            </p>
                            <div class="flex items-center text-white font-semibold">
                                <svg class="w-4 h-4 mr-1 text-emerald-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                                </svg>
                                8 000 рублей
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center space-x-4 opacity-80">
                        <div class="text-emerald-700">
                            <p class="text-6xl">🥉</p>
                        </div>
                        <div>
                            <p class="text-emerald-400 font-bold flex items-center italic">
                                <span class="mr-2 opacity-80">3 место
                            </p>
                            <div class="text-emerald-300 italic">Слот в финале</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block footer %}
<div class="max-w-screen-xl mx-auto px-8 flex flex-col md:flex-row justify-between items-center gap-6">
    <div class="text-emerald-400 text-sm font-medium text-center md:text-left">
        © Федерация компьютерного спорта Республики Коми, 20??–2026
    </div>

    <div class="text-center">
        <a href="mailto:info@fcsrk.ru" class="text-emerald-100 hover:text-green-400 transition-colors font-medium">
            team@esfkomi.ru
        </a>
    </div>

</div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>